{% extends "index.html" %}
{% block content %}
<h1>Time for Player {{ symbol}} to select a position</h1>
    <table align="center">
    {% for i in range(3) %}
        <tr>
            {% for j in range(3) %}
                <td>
                    {% if game[i][j] == "X" %}
                        X
                    {% elif game[i][j] == "O" %}
                        O
                    {% else %}
                        <a href="{{ url_for('play',row=i,col=j) }}">{{ turn }}</a>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <a style="margin-top:12px" href="/clear" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Restart
    </a>
    <a style="margin-top:12px" href="/help" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    AI Turn
    </a>
{% endblock %}